
__pycache__/
*.py[cod]
*.pyo
*.pyd


.venv/
venv/
env/


.vscode/


*.log


.DS_Store
Thumbs.db

*.db
*.sqlite3


config.json


*.tmp
*.temp


dist/
build/
*.spec


tools/ffmpeg/


downloads/


thumbnails/