
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.venv/
venv/
env/

.vscode/

*.log

.DS_Store
Thumbs.db

*.db
*.sqlite3

config.json

*.tmp
*.temp

# PyInstaller
build/
dist/
*.spec
*.exe


dist/
build/
*.spec


tools/ffmpeg/


downloads/


thumbnails/